<div class="container">
    <h1>Página Sobre</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, omnis minima? Totam excepturi aut minus omnis saepe! Vel, porro veritatis dolor dolores repudiandae modi! Beatae, deleniti. Natus atque perferendis iste?Lorem, ipsum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur impedit incidunt nostrum tempora harum ad quas mollitia quam qui! Aspernatur laudantium esse cum aut at placeat explicabo voluptate alias unde? Consequuntur, eos minima sit sed modi quia nisi nemo nulla!
    </p>
</div>